@page
@model T4.PR1.Pages.AddEnergyIndicatorModel
@{
    ViewData["Title"] = "Afegir Indicador Energètic";
}

<h1>Afegir Indicador Energètic</h1>
<br />

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p class="text-danger">@Model.ErrorMessage</p>
}

<form method="post">
    <div class="mb-3">
        <label for="Date" class="form-label">Data (MM/YYYY)</label>
        <input type="text" asp-for="NewEnergyIndicator.Date" class="form-control" placeholder="MM/YYYY" required />
        <span asp-validation-for="NewEnergyIndicator.Date" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label class="form-label">Producció Neta</label>
            <input type="number" asp-for="NewEnergyIndicator.CDEEBC_NetProduction" class="form-control" required />
        </div>
        <div class="col-md-4">
            <label class="form-label">Gasolina Auto</label>
            <input type="number" asp-for="NewEnergyIndicator.CCAC_AutoGasoline" class="form-control" required />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label class="form-label">Demanda Elèctrica</label>
            <input type="number" asp-for="NewEnergyIndicator.CDEEBC_ElectricityDemand" class="form-control" required />
        </div>
        <div class="col-md-4">
            <label class="form-label">Producció Disponible</label>
            <input type="number" asp-for="NewEnergyIndicator.CDEEBC_AvailableProduction" class="form-control" required />
        </div>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Afegir</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}